<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello Django</title>
</head>
<body>
    <h1>Простые проценты</h1>
    <p>это метод начисления, при котором сумма процентов определяется в течение всего периода,
        исходя из первоначальной величины долга, независимо от количества периодов начисления и их длительности.</p>
    <h1>Сложные проценты</h1>
    <p>метод расчета процентов, при котором начисления происходят на первоначальную сумму
        вклада (долга) и на прирост вклада (долга), т.е. сумму процентов, начисленных после первого периода начисления. Таким образом, база для начисления сложных процентов (в отличие от простых) будет увеличиваться с каждым периодом
        начисления.</p>

    <h1>Определение размера накопленных средств</h1>
    <h1>Моделирование динамики вклада по годам</h1>
</body>
</html>